.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid rgba(32, 201, 151, 1);
    border-radius: 20px;
    transition: all 0.3s ease;
  }
  
  /* Logo styling */
  .logo h3 {
    color: rgba(52, 58, 64, 1);
  }
  
  .logo h3 span {
    height: 40px;
    color: rgba(32, 201, 151, 1);
  }
  
  /* Name fields styling */
  .namefields {
    display: flex;
    gap: 40px;
    transition: all 0.3s ease;
  }
  
  .namefields span {
    font-size: 20px;
    color: rgba(51, 51, 51, 1);
    font-weight: 500;
  }
  
  /* Button styling */
  .loginbutton {
    color: rgba(32, 201, 151, 1);
    border: none !important;
    background: none;
    cursor: pointer;
  }
  
  .signupbutton {
    background: rgba(32, 201, 151, 1);
    color: #fff;
    border: none !important;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    gap: 20px;
    cursor: pointer;
  }
  
  /* Button container styling */
  .buttons {
    display: flex;
    gap: 20px;
    border: none !important;
    transition: all 0.3s ease;

  }
  
  /* Mobile menu button styling */
  .mobilemenubutton {
    display: none;
    background: rgba(32, 201, 151, 1);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
  }
   @media screen and (max-width: 800px) {
    .logo h3, .logo h3 span, .namefields span {
      font-size: 14px;
    }
}
  /* Media query for mobile screens */
  @media screen and (max-width: 1023px) {
    .logo h3, .logo h3 span {
      font-size: 14px;
    }
    
    .namefields,
    .buttons {
      display: none; /* Hide name fields and buttons */
      flex-direction: column;
      align-items: center;
      gap: 10px;
      width: 100%; /* Ensure full width for better alignment */
    }
  
    .mobilemenubutton {
      display: block; /* Display mobile menu button */
    }
  
    .show {
      display: flex;
     
       position: absolute; 
      top: 60px; 
      left: 0;
      right: 0;
      padding: 20px;
      
      flex-direction: column;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    }
  }
  